@font-face {
  font-family: 'myriad';
  src: url("../fonts/myriad.otf");
}

/*@mixin div-cover-bg-image ($height,$image){
  height: $height;
	background-image: url(../img/$image);
	background-repeat:no-repeat;
	background-position: center;
	background-position-x:center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat:no-repeat;
}*/
/* line 64, ../sass/main.scss */
body {
  background-color: #1dbcbd;
}

/* line 67, ../sass/main.scss */
.container {
  padding: 0px;
}

/* line 70, ../sass/main.scss */
header {
  height: 1px;
  background-color: #1dbcbd;
  position: fixed;
  width: 16.66666667%;
}

/* line 78, ../sass/main.scss */
nav ul {
  font-size: 17px;
  color: white;
  font-family: "Arial";
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  margin-top: 60px;
}
/* line 86, ../sass/main.scss */
nav li {
  padding: 10px;
  border-bottom: solid 1px #fff;
}
/* line 90, ../sass/main.scss */
nav li:hover {
  background-color: #0f6465;
}

/* line 94, ../sass/main.scss */
.closeMenu {
  font-size: 36px;
  color: white;
  font-family: "Arial";
  font-weight: lighter;
  display: none;
}

/* line 99, ../sass/main.scss */
h1 {
  font-size: 36px;
  color: white;
  font-family: "myriad";
  font-weight: bold;
}

/* line 102, ../sass/main.scss */
h2 {
  font-size: 36px;
  color: black;
  font-family: "myriad";
  font-weight: bold;
}

/* line 105, ../sass/main.scss */
h3 {
  font-size: 15px;
  color: white;
  font-family: "Arial";
  background-color: #1dbcbd;
  padding: 8px;
}

/* line 110, ../sass/main.scss */
.logoContainer {
  height: 100px;
  background-color: #1dbcbd;
  background-image: url(../images/wr_arquitectura_costa_rica.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 44px;
  padding: 0px;
}

/*.socialContent{
  @include box-set-up(auto, #B2B2B2);
  min-height: 90px;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
}*/
/* line 125, ../sass/main.scss */
.cleanA:hover {
  color: #fff;
}

/* line 128, ../sass/main.scss */
.mainFrame {
  height: auto;
  min-height: 580px;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/arquitectura_costa_rica.jpg);
  text-align: center;
}
/* line 133, ../sass/main.scss */
.mainFrame h1 {
  margin-top: 260px;
}

/* line 137, ../sass/main.scss */
.scrollDown {
  height: 33px;
  margin-top: 140px;
}

/* line 141, ../sass/main.scss */
.innerContainer {
  height: auto;
  background-color: white;
  padding-left: 0px;
  padding-right: 0px;
}

/* line 149, ../sass/main.scss */
.secondFrame, .secondFrameLeft, .secondFrameRight, .publications1 {
  height: auto;
  background-color: white;
  min-height: 360px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

/* line 157, ../sass/main.scss */
.secondFrameLeft {
  padding: 30px;
}
/* line 161, ../sass/main.scss */
.secondFrameLeft p {
  font-size: 15px;
  color: #b2b2b2;
  font-family: "Arial";
}

/* line 166, ../sass/main.scss */
.secondFrameRight {
  position: absolute;
  height: 100%;
  left: 50%;
  background-color: #1dbcbd;
  background-image: url(../images/diseño_de_casas_contemporaneas.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 185, ../sass/main.scss */
.thirdFrame {
  height: auto;
  min-height: 400px;
  background-color: #b2b2b2;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 16px;
  color: white;
  font-family: "Arial";
  background-image: url(../images/arquitectura_planos_costa_rica.jpg);
  text-align: center;
}
/* line 191, ../sass/main.scss */
.thirdFrame h2 {
  margin-top: 50px;
}
/* line 194, ../sass/main.scss */
.thirdFrame p {
  margin: 0px;
}

/* line 198, ../sass/main.scss */
.servicesContainer {
  margin-top: 70px;
  padding: 0px;
}

/* line 202, ../sass/main.scss */
.firstService, .services {
  padding: 0px;
}
/* line 204, ../sass/main.scss */
.firstService p, .services p {
  border: #fff solid 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
}

/* line 211, ../sass/main.scss */
.services {
  margin-left: 4%;
}

/* line 218, ../sass/main.scss */
.fourFrame {
  height: auto;
  background-color: white;
  min-height: 540px;
  padding: 0px;
  margin: 0px;
  text-align: center;
}
/* line 221, ../sass/main.scss */
.fourFrame h2 {
  margin-top: 50px;
}

/* line 225, ../sass/main.scss */
.teamPic {
  margin-top: 30px;
}

/* line 231, ../sass/main.scss */
.projectsFrame {
  height: auto;
  background-color: black;
  min-height: 680px;
  padding: 0px;
  margin: 0px;
  font-size: 15px;
  color: white;
  font-family: "Arial";
  text-align: center;
}
/* line 235, ../sass/main.scss */
.projectsFrame a {
  color: #FFF;
}

/* line 239, ../sass/main.scss */
.otherProjectsFrame {
  height: auto;
  background-color: black;
  min-height: auto;
  padding: 0px;
  margin: 0px;
  padding: 30px;
  padding-top: 40px;
  font-size: 15px;
  color: white;
  font-family: "Arial";
  text-align: center;
}
/* line 245, ../sass/main.scss */
.otherProjectsFrame a {
  color: #FFF;
}
/* line 248, ../sass/main.scss */
.otherProjectsFrame ul {
  list-style: none;
}
/* line 251, ../sass/main.scss */
.otherProjectsFrame li {
  line-height: 40px;
}
/* line 254, ../sass/main.scss */
.otherProjectsFrame h2 {
  color: #FFF;
  margin-bottom: 30px;
}

/* line 259, ../sass/main.scss */
.projects {
  height: 340px;
  background-color: black;
  padding: 0px;
}

/* line 263, ../sass/main.scss */
.projects:hover {
  height: 340px;
  background-color: #b2b2b2;
  padding: 0px;
}

/* line 267, ../sass/main.scss */
.projectImage {
  height: auto;
  min-height: 264px;
  background-color: #b2b2b2;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/arquitectura_edificios_costa_rica.jpg);
  margin-bottom: 12px;
}

/* line 272, ../sass/main.scss */
.projectImage2 {
  height: auto;
  min-height: 264px;
  background-color: #b2b2b2;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/casas_modernas_costa_rica.jpg);
  margin-bottom: 12px;
}

/* line 277, ../sass/main.scss */
.projectImage3 {
  height: auto;
  min-height: 264px;
  background-color: #b2b2b2;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/diseño_de_casas_modernas.jpg);
  margin-bottom: 12px;
}

/* line 282, ../sass/main.scss */
.projectImage4 {
  height: auto;
  min-height: 264px;
  background-color: #b2b2b2;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/diseno_de_casas_contemporaneas_costa_rica.jpg);
  margin-bottom: 12px;
}

/* line 287, ../sass/main.scss */
.projectImage5 {
  height: auto;
  min-height: 264px;
  background-color: #b2b2b2;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/casas_vanguardistas.jpg);
  margin-bottom: 12px;
}

/* line 292, ../sass/main.scss */
.projectImage6 {
  height: auto;
  min-height: 264px;
  background-color: #b2b2b2;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/torres_casas_lujo.jpg);
  margin-bottom: 12px;
}

/* line 297, ../sass/main.scss */
.projectImage7 {
  height: auto;
  min-height: 264px;
  background-color: #b2b2b2;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/arquitecto_costa_rica.jpg);
  margin-bottom: 12px;
}

/* line 302, ../sass/main.scss */
.projectImage8 {
  height: auto;
  min-height: 264px;
  background-color: #b2b2b2;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/diseno_de_casas_en_costa_rica.jpg);
  margin-bottom: 12px;
}

/* line 307, ../sass/main.scss */
.projectImage9 {
  height: auto;
  min-height: 264px;
  background-color: #b2b2b2;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/deco03.jpg);
  margin-bottom: 12px;
}

/* line 312, ../sass/main.scss */
.projectImage10 {
  height: auto;
  min-height: 264px;
  background-color: #b2b2b2;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/nine.jpg);
  margin-bottom: 12px;
}

/* line 317, ../sass/main.scss */
.projectImage11 {
  height: auto;
  min-height: 264px;
  background-color: #b2b2b2;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/aprendiendo.jpg);
  margin-bottom: 12px;
}

/* line 322, ../sass/main.scss */
.projectImage12 {
  height: auto;
  min-height: 264px;
  background-color: #b2b2b2;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/casajw.jpg);
  margin-bottom: 12px;
}

/* line 330, ../sass/main.scss */
footer {
  height: auto;
  background-color: #b2b2b2;
  min-height: 680px;
  padding: 0px;
  margin: 0px;
  text-align: center;
  color: #fff;
  font-family: "Arial";
}

/* line 336, ../sass/main.scss */
.footerLogo {
  margin: 20px auto;
}

/* line 339, ../sass/main.scss */
.contactBlock {
  height: auto;
  background-color: #b2b2b2;
  min-height: 100px;
  margin-top: 30px;
  text-align: center;
  color: #fff;
}

/* line 347, ../sass/main.scss */
.contactInfo p {
  margin-top: 20px;
}

/* line 351, ../sass/main.scss */
.contactSocialBox {
  height: auto;
  background-color: #b2b2b2;
  min-height: 50px;
  margin-top: 40px;
  text-align: center;
  color: #fff;
}

/* line 358, ../sass/main.scss */
.rights {
  height: auto;
  background-color: #b2b2b2;
  min-height: 50px;
  margin-top: 10px;
}

/* line 364, ../sass/main.scss */
.publicacionesLink {
  color: #1dbcbd;
}

/* line 367, ../sass/main.scss */
.publicacionesLink:hover {
  color: #1dbcbd;
}

/* line 370, ../sass/main.scss */
.publications1 {
  position: inherit;
  height: 100%;
  left: 0%;
  background-color: #1dbcbd;
  background-image: url(../images/publicacion_casa_galeria.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  /* line 390, ../sass/main.scss */
  .closeMenu {
    display: block;
    font-size: 36px;
    color: white;
    font-family: "Arial";
    font-weight: lighter;
  }

  /* line 395, ../sass/main.scss */
  header {
    height: 100%;
    background-color: #1dbcbd;
    width: 100%;
    position: fixed;
    z-index: 100;
    right: 100%;
    opacity: 0;
  }

  /* line 405, ../sass/main.scss */
  nav ul {
    font-size: 17px;
    color: white;
    font-family: "Arial";
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    margin-top: 60px;
  }
  /* line 413, ../sass/main.scss */
  nav li {
    padding: 10px;
    border-bottom: solid 1px #fff;
  }

  /* line 418, ../sass/main.scss */
  .innerContainer {
    width: 100%;
  }

  /* line 422, ../sass/main.scss */
  .mainFrame h1 {
    margin-top: 150px;
  }

  /* line 426, ../sass/main.scss */
  .secondFrameRight {
    position: inherit;
    height: 100%;
    left: 0%;
    background-color: #1dbcbd;
    background-image: url(../images/diseño_de_casas_contemporaneas.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
  }

  /* line 442, ../sass/main.scss */
  .thirdFrame {
    padding: 30px 20px;
  }

  /* line 445, ../sass/main.scss */
  .glyphicon {
    margin-top: 30px;
  }

  /* line 448, ../sass/main.scss */
  .thirdFrame h2 {
    margin-top: 0px;
  }

  /* line 451, ../sass/main.scss */
  footer {
    padding: 30px 20px;
  }

  /* line 454, ../sass/main.scss */
  .contactBlock {
    margin-top: 0px;
  }
}
